* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

.auth-bg {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #9b59b6, #ff4f9a);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  width: 360px;
  background: white;
  padding: 35px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.auth-card h2 {
  margin-bottom: 25px;
}

.tab-box {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 25px;
}

.tab {
  flex: 1;
  padding: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
}

.tab.active {
  background: linear-gradient(to right, #9b59b6, #ff4f9a);
  color: white;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: none;
}

.forgot {
  text-align: left;
  color: #ff4f9a;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 20px;
}

.main-btn {
  width: 100%;
  padding: 12px;
  background: linear-gradient(to right, #9b59b6, #ff4f9a);
  border: none;
  color: white;
  font-size: 17px;
  border-radius: 5px;
  cursor: pointer;
}

.bottom-text {
  margin-top: 20px;
  font-size: 14px;
}

.bottom-text span {
  color: #ff4f9a;
  cursor: pointer;
  font-weight: bold;
}
