.product-details {
  
  display: flex;
  gap: 50px;
  padding: 50px;
  background: #fff;
}

.image-section img {
  width: 500px;
  border-radius: 8px;
}
.info-section{
  margin-top: 20px;
}

.info-section h2 {
  margin-top: 100px;
  font-size: 24px;
  font-weight: 700;
}

.info-section h3 {
  font-size: 18px;
  color: #535766;
}

.rating {
  margin: 8px 0;
  font-weight: 600;
}

.price {
  font-size: 22px;
  font-weight: 700;
  margin: 20px 0;
}

.size-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.size {
  border: 1px solid #282c3f;
  padding: 8px 14px;
  cursor: pointer;
  background: #fff;
}

.size.active {
  border-color: #ff3f6c;
  color: #ff3f6c;
}

.add-to-bag {
  background: #ff3f6c;
  color: white;
  padding: 12px 30px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  margin-right: 10px;
}

.wishlist{
    margin-top: 20px;
}
.product-desc {
  margin-top: 20px;
  padding-top: 16px;
  border-top: 1px solid #eaeaec;
}

.desc-text {
  font-size: 20px;
  color: #535766;
  line-height: 1.7;
  margin-bottom: 14px;
}

.desc-list {
  padding-left: 18px;
  margin-top: 10px;
}

.desc-list li {
  font-size: 16px;
  color: #282c3f;
  margin-bottom: 8px;
  font-weight: 500;
}


.desc-list li::marker {
  color: #ff3f6c;
  font-size: 18px;
}



