.site-footer {

  background: #fff;
  color: #111;
  border-top: 1px solid whitesmoke;
   box-shadow: 2px 2px 6px rgb(223, 219, 219);
  margin-top: 80px;
  font-family: Arial, sans-serif;
}


.footer-features {
  display: flex;
  justify-content: space-around;
  padding: 50px 80px;
  border-bottom: 1px solid #eee;
}

.feature {
  text-align: center;
  max-width: 220px;
}

.feature .icon {
  font-size: 36px;
  display: block;
  margin-bottom: 10px;
}

.feature h4 {
  font-size: 16px;
  margin-bottom: 6px;
}

.feature p {
  font-size: 13px;
  color: #666;
}


.footer-main {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 60px 80px;
}

.footer-col h4 {
  font-size: 15px;
  margin-bottom: 14px;
}
.footer-col a{
  text-decoration: none;
  color: #444;
}


.footer-col p {
  font-size: 14px;
  color: #444;
  margin-bottom: 10px;
  cursor: pointer;
}

.footer-col a:hover {
  color: #000;
}

.mt {
  margin-top: 30px;
}

.footer-bottom {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 18px;
  font-size: 13px;
}
.social-links a {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  color: inherit;
  text-decoration: none;
}

.social-links a:hover {
  color: #52569c;
}