
.carousel {
margin-top: 100px;
  width: 100%;
  overflow: hidden;
}

.carousel-item img {
  width: 100%;
  height: 60vh;              
  object-fit: cover;      
  background-color: #f5f5f5;
}


.carousel-indicators {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}


.hero-btn {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 30px;
  border-radius: 30px;
  background: black;
  color: white;
  border: none;
  font-size: 16px;
}




@media (max-width: 1024px) {
  .carousel-item img {
    height: 65vh;
  }
}


@media (max-width: 768px) {
  .carousel-item img {
    height: 50vh;
  }

  .hero-btn {
    font-size: 14px;
    padding: 10px 25px;
  }
}


@media (max-width: 576px) {
  .carousel-item img {
    height: 40vh;
  }

  .carousel-indicators {
    bottom: 10px;
  }
}


@media (max-width: 360px) {
  .carousel-item img {
    height: 32vh;
  }

  .hero-btn {
    font-size: 13px;
    padding: 8px 20px;
  }
}
