* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.signup-container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg,rgb(116, 116, 208),rgb(65, 65, 129),rgb(93, 93, 166));
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-box {
  width: 400px;
  height: 400px;
  background: #3a3472;
  padding: 30px 25px 60px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  position: relative;
}

.signup-box h2 {
  color: white;
  margin-bottom: 30px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.signup-box input {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.signup-btn {
  width: 100%;
  padding: 10px;
  background: #6c63ff;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.signup-btn:hover {
  background: #5a52e0;
}

.login-box {
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-btn {
  width: 90%;
  padding: 12px;
  border-radius: 30px;
  border: none;
  background: #eaeaea;
  font-size: 16px;
  cursor: pointer;
}
