
.wishlist-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;

  display: flex;
  flex-wrap: wrap;             
  justify-content: center;      
  gap: 24px;
}



  .wishlist-container h2 {
    margin-top: 40px;
  width: 100%;                 
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #282c3f;
}


  



.wishlist-container p {
  font-size: 16px;
  color: #7e818c;
}


.wishlist-container {
  display: flex;
  flex-direction: row;
}


.wishlist-item {
  background: #ffffff;
  border: 1px solid #eaeaec;
  border-radius: 6px;
  padding: 12px;
  text-align: center;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.wishlist-item:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transform: translateY(-4px);
}


.wishlist-item img {
    margin-top: 40px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}


.wishlist-item h4 {
  font-size: 15px;
  font-weight: 500;
  margin: 10px 0 6px;
  color: #282c3f;
  height: 38px;
  overflow: hidden;
}


.wishlist-item p {
  font-size: 15px;
  font-weight: 600;
  color: #282c3f;
  margin-bottom: 10px;
}


.wishlist-item button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ff3f6c;
  background-color: #ffffff;
  color: #ff3f6c;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}

.wishlist-item button:hover {
  background-color: #ff3f6c;
  color: #ffffff;
}


.cart-info {
  flex: 1;
 display: flex;
  flex-direction: column;
}

.cart-info h4 {
  font-size: 18px;
  margin-bottom: 6px;
}

.cart-info p {
  margin: 4px 0;
  color: #555;
  font-size: 14px;
}


.qty-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 10px 0;
}

.qty-box button {
  width: 32px;
  height: 32px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
  font-size: 18px;
  border-radius: 4px;
}

.qty-box button:hover {
  background: #f2f2f2;
}

.qty-box span {
  min-width: 20px;
  text-align: center;
  font-weight: 500;
}
.text {
  margin-top: auto;          
  padding: 15px 20px;
  border-top: 1px solid #eaeaea;
  background: #fff;
  font-size: 20px;
  font-weight: 600;
  text-align: right;
}


.remove {
  margin-top: 10px;
  padding: 6px 14px;
  border: none;
  background: #ff3f6c;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
  border-radius: 4px;
}

.remove:hover {
  background: #e7335d;
}
.buy-now-btn {
  width: 100%;
  padding: 14px;
  background: black;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
}
/* Responsive */
@media (max-width: 768px) {
  .wishlist-item img {
    height: 220px;
  }
}

@media (max-width: 480px) {
  .wishlist-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .wishlist-item img {
    height: 200px;
  }
}